@use '../../styles/variables' as *;

.productShowcase {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 20px 0;

    .title {
        margin-top: 90px;
        font-size: 30px;
        font-weight: bold;
        color: $blue;
        margin-bottom: 10px;
    }

    .tabs {
        // border: 1px solid red;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;

        button {
            font-size: 16px;
            width: 240px;
            height: 40px;
            padding: 10px 15px;
            border: 1px solid $gray-medium;
            background: transparent;
            font-weight: bold;
            cursor: pointer;
            color: $gray-medium;
            transition: color 0.3s ease;

            &.active,
            &:hover {
                color: $blue;
            }
        }
    }

    .containerMain {
      width: 80%;
    }

}
