/* Variáveis globais (cores, fontes, espaçamentos)*/

// _variables.scss
$blue: #3019B2; 
$blue-medium: #3442B5;        // Azul
$yellow: #F7CA11;       // Amarelo
$purple: #271C47;       // Roxo
$gray-medium: #9F9F9F;  // Cinza médio
$gray-dark: #3F3F40;    // Cinza escuro
$white: #ffffff;        // Branco
$font-stack: 'Arial', sans-serif;
$spacing: 16px;

