/* Variáveis globais (cores, fontes, espaçamentos)*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$font-primary: "Poppins", sans-serif;

// _variables.scss
$blue: #3019B2; 
$blue-medium: #3442B5;        // Azul
$yellow: #F7CA11;       // Amarelo
$purple: #271C47;       // Roxo
$gray-medium: #9F9F9F;  // Cinza médio
$gray-dark: #3F3F40;    // Cinza escuro
$white: #ffffff;        // Branco
$darker-white: #F6F5F2; // Branco um pouco escuro                         // Branco um pouco escuro
$spacing: 16px;
