@use '../../styles/variables' as *;

.header {
  border: 1px solid red;
  padding: 16px 0;
}

.container {
  border: 1px solid;
  width: 80%;
  height: 9rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  height: 50px;
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.icons button {
  background: none;
  border: none;
  font-size: 18px;
  color: white;
  cursor: pointer;
  margin-left: 10px;
}
