@use '../../styles/variables' as *;

.navbar {
    height: 2,5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    .containerNavBar {
      padding: 10px 69px 10px 70px;
      width: 80%;
      display: flex;
      align-items: center;
      justify-content: space-between;


      button {
        font-size: 12px;
        font-weight: 600;
        text-transform: uppercase;
        color: $gray-medium;
        border: none;
        background: none;
        cursor: pointer;
        font-weight: bold;
        transition: 0.3s;
    
        &:hover {
          color: $blue;
        }
    }
    
    }
  }
  